@charset "UTF-8";
html,body{
    height:100%;
}
.mt {
  margin-top: 1.36rem; }

.mb {
  margin-bottom: 1.5333333333rem; }

.mt_202 {
  margin-top: 2.6933333333rem; }

.mt_122 {
  margin-top: 1.6266666667rem; }

.top_banner {
  padding: 0.32rem;
  border-bottom: 1px solid #e1e9f0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  margin: 0 auto;
  box-sizing: border-box; }
  .top_banner .search_box {
    display: block;
    box-sizing: border-box;
    width: 8.4rem;
    padding-left: 0.9333333333rem;
    height: 0.7466666667rem;
    line-height: 0.7466666667rem;
    border-radius: 0.3733333333rem;
    border: 1px solid #e1e9f0;
    background: url("../images/destination/ico_search28x28.png") 0.3466666667rem center no-repeat #f3f5f8;
    background-size: 0.3733333333rem;
    font-size: 14px;
    color: #8fa0b1; }
    [data-dpr="2"] .top_banner .search_box {
      font-size: 28px; }
    [data-dpr="2.5"] .top_banner .search_box {
      font-size: 35px; }
    [data-dpr="2.75"] .top_banner .search_box {
      font-size: 39px; }
    [data-dpr="3"] .top_banner .search_box {
      font-size: 42px; }
    [data-dpr="4"] .top_banner .search_box {
      font-size: 56px; }

.tab_box {
  overflow: hidden; }
  .tab_box .tab_nav {
    width: 2rem;
    position: fixed;
    top: 1.36rem; }
    .tab_box .tab_nav li {
      box-sizing: border-box;
      height: 1.3066666667rem;
      line-height: 1.3066666667rem;
      text-align: center;
      font-size: 14px;
      cursor: pointer; }
      [data-dpr="2"] .tab_box .tab_nav li {
        font-size: 28px; }
      [data-dpr="2.5"] .tab_box .tab_nav li {
        font-size: 35px; }
      [data-dpr="2.75"] .tab_box .tab_nav li {
        font-size: 39px; }
      [data-dpr="3"] .tab_box .tab_nav li {
        font-size: 42px; }
      [data-dpr="4"] .tab_box .tab_nav li {
        font-size: 56px; }
      .tab_box .tab_nav li.active {
        height: 1.9466666667rem;
        background: #fff;
        border-left: 0.0533333333rem solid #ff7200;
        line-height: 1.9466666667rem;
        color: #ff7200; }
  .tab_box .tab_con {
    width: 8rem;
    min-height: 15.8rem;
    box-sizing: border-box;
    float: right;
    background: #fff; }
    .tab_box .tab_con .tab_list {
      display: none;
      overflow: hidden;
      padding-bottom: 0.2666666667rem; }
      .tab_box .tab_con .tab_list ul {
        overflow: hidden; }
      .tab_box .tab_con .tab_list li {
        width: 3.6rem;
        height: 3.6rem;
        float: left;
        position: relative;
        margin: 0.2666666667rem 0 0 0.2666666667rem;
        border-radius: 0.0266666667rem; }
        .tab_box .tab_con .tab_list li a {
          display: block;
          height: 100%; }
        .tab_box .tab_con .tab_list li .img_box {
          width: 100%;
          height: 100%; }
        .tab_box .tab_con .tab_list li .info {
          position: absolute;
          top: 2.4rem;
          left: 0.28rem;
          z-index: 10;
          color: #fff; }
          .tab_box .tab_con .tab_list li .info h3 {
            font-size: 15px; }
            [data-dpr="2"] .tab_box .tab_con .tab_list li .info h3 {
              font-size: 30px; }
            [data-dpr="2.5"] .tab_box .tab_con .tab_list li .info h3 {
              font-size: 38px; }
            [data-dpr="2.75"] .tab_box .tab_con .tab_list li .info h3 {
              font-size: 41px; }
            [data-dpr="3"] .tab_box .tab_con .tab_list li .info h3 {
              font-size: 45px; }
            [data-dpr="4"] .tab_box .tab_con .tab_list li .info h3 {
              font-size: 60px; }
          .tab_box .tab_con .tab_list li .info h4 {
            margin-top: 0.1466666667rem;
            font-size: 12px; }
            [data-dpr="2"] .tab_box .tab_con .tab_list li .info h4 {
              font-size: 24px; }
            [data-dpr="2.5"] .tab_box .tab_con .tab_list li .info h4 {
              font-size: 30px; }
            [data-dpr="2.75"] .tab_box .tab_con .tab_list li .info h4 {
              font-size: 33px; }
            [data-dpr="3"] .tab_box .tab_con .tab_list li .info h4 {
              font-size: 36px; }
            [data-dpr="4"] .tab_box .tab_con .tab_list li .info h4 {
              font-size: 48px; }
  .tab_box .more_product {
    display: block;
    width: 4.2666666667rem;
    height: 1.0666666667rem;
    line-height: 1.0666666667rem;
    margin: 0.2666666667rem auto 0;
    border: 1px solid #ff7200;
    color: #ff7200;
    text-align: center;
    font-size: 13px;
    text-decoration: underline;
    -webkit-text-decoration-color: #ffc1a3;
            text-decoration-color: #ffc1a3; }
    [data-dpr="2"] .tab_box .more_product {
      font-size: 26px; }
    [data-dpr="2.5"] .tab_box .more_product {
      font-size: 33px; }
    [data-dpr="2.75"] .tab_box .more_product {
      font-size: 36px; }
    [data-dpr="3"] .tab_box .more_product {
      font-size: 39px; }
    [data-dpr="4"] .tab_box .more_product {
      font-size: 52px; }

.top_nav {
  position: relative;
  height: 1.0666666667rem;
  box-sizing: border-box;
  border-top: 1px solid #e1e9f0; }
  .top_nav .nav_box {
    position: relative;
    background: #fff; }
    .top_nav .nav_box ul {
      overflow: hidden;
      position: absolute; }
      .top_nav .nav_box ul li {
        float: left;
        margin-right: 0.6666666667rem;
        color: #2c3e50;
        text-align: left; }
  .top_nav .nav_up {
    overflow: hidden;
    background: #fff; }
    .top_nav .nav_up .nav_box {
      position: relative;
      width: 8.1066666667rem;
      height: 1.0666666667rem;
      overflow-x: auto;
      margin-left: 0.32rem;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      -webkit-transform: translateZ(0); }
      .top_nav .nav_up .nav_box ul {
        height: 1.0666666667rem;
        display: inline-block; }
        .top_nav .nav_up .nav_box ul li {
          height: 1.0666666667rem;
          line-height: 1.0666666667rem;
          font-size: 15px; }
          [data-dpr="2"] .top_nav .nav_up .nav_box ul li {
            font-size: 30px; }
          [data-dpr="2.5"] .top_nav .nav_up .nav_box ul li {
            font-size: 38px; }
          [data-dpr="2.75"] .top_nav .nav_up .nav_box ul li {
            font-size: 41px; }
          [data-dpr="3"] .top_nav .nav_up .nav_box ul li {
            font-size: 45px; }
          [data-dpr="4"] .top_nav .nav_up .nav_box ul li {
            font-size: 60px; }
          .top_nav .nav_up .nav_box ul li.active {
            color: #ff7200;
            font-size: 16px; }
            [data-dpr="2"] .top_nav .nav_up .nav_box ul li.active {
              font-size: 32px; }
            [data-dpr="2.5"] .top_nav .nav_up .nav_box ul li.active {
              font-size: 40px; }
            [data-dpr="2.75"] .top_nav .nav_up .nav_box ul li.active {
              font-size: 44px; }
            [data-dpr="3"] .top_nav .nav_up .nav_box ul li.active {
              font-size: 48px; }
            [data-dpr="4"] .top_nav .nav_up .nav_box ul li.active {
              font-size: 64px; }
  .top_nav .nav_down {
    display: none; }
    .top_nav .nav_down ul {
      padding: 0 0.6933333333rem 0.2933333333rem 0.32rem;
      width: 100%;
      box-sizing: border-box;
      background: #f3f5f8; }
      .top_nav .nav_down ul li {
        border: 1px solid #e1e9f0;
        border-radius: 10px;
        padding: 0.2666666667rem;
        margin: 0.2933333333rem 0.2933333333rem 0 0;
        font-size: 12px; }
        [data-dpr="2"] .top_nav .nav_down ul li {
          font-size: 24px; }
        [data-dpr="2.5"] .top_nav .nav_down ul li {
          font-size: 30px; }
        [data-dpr="2.75"] .top_nav .nav_down ul li {
          font-size: 33px; }
        [data-dpr="3"] .top_nav .nav_down ul li {
          font-size: 36px; }
        [data-dpr="4"] .top_nav .nav_down ul li {
          font-size: 48px; }
        .top_nav .nav_down ul li.active {
          border: 1px solid #ff7200;
          color: #ff7200; }
  .top_nav .ico_arr {
    position: absolute;
    top: 0.32rem;
    right: 0.3333333333rem;
    z-index: 10;
    height: 0.6666666667rem;
    cursor: pointer; }
    .top_nav .ico_arr:before {
      content: '';
      display: inline-block;
      width: 0.3733333333rem;
      height: 0.2133333333rem;
      margin-left: 0.1866666667rem; }
  .top_nav .up:before {
    background: url("../images/destination/ico_up_arr.png") no-repeat;
    background-size: contain;
    background-position: 50% 50%; }
  .top_nav .down:before {
    background: url("../images/destination/ico_down_arr.png") no-repeat;
    background-size: contain;
    background-position: 50% 50%; }

.por_list {
  overflow: hidden; }
  .por_list li {
    margin-bottom: 0.2666666667rem; }
    .por_list li .img_box {
      display: block;
      height: 5.8666666667rem; }
      .por_list li .img_box img {
        display: block; }
    .por_list li .pro_info {
      overflow: hidden;
      padding: 0.4133333333rem 0.2666666667rem;
      background: #fff; }
      .por_list li .pro_info .txt_info {
        color: #2c3e50;
        font-size: 15px;
        line-height: 150%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
        [data-dpr="2"] .por_list li .pro_info .txt_info {
          font-size: 30px; }
        [data-dpr="2.5"] .por_list li .pro_info .txt_info {
          font-size: 38px; }
        [data-dpr="2.75"] .por_list li .pro_info .txt_info {
          font-size: 41px; }
        [data-dpr="3"] .por_list li .pro_info .txt_info {
          font-size: 45px; }
        [data-dpr="4"] .por_list li .pro_info .txt_info {
          font-size: 60px; }
      .por_list li .pro_info .price {
        text-align: right;
        margin-top: 0.0666666667rem;
        width: 2.4666666667rem;
        font-size: 18px;
        /*
				.price{
					height:px2rem(35);
					overflow:hidden;
					margin-bottom:px2rem(20); 
					
					&:before{
						display:inline-block;
						margin-top:px2rem(4);
						content:'￥';
						@include verTop;
						@include px2px(font-size,22);
						font-weight:normal;
					}
					 em{
						display:inline-block;
						@include verTop;
						&.num{
							@include px2px(font-size,36);	
							@include verTop;
							font-weight:bold;
							&:before{
								display:inline-block;
								margin-top:px2rem(4);
								content:'￥';
								@include verTop;
								@include px2px(font-size,22);
								font-weight:normal;
							}
						}
						&.discount{
							@include px2px(font-size,20);	
							margin:px2rem(10) 0 0 px2rem(5);		
						}
					} 
				}
				del{
					@include px2px(font-size,20);	
					@include verTop;
					color:$lightGray;
				}*/ }
        [data-dpr="2"] .por_list li .pro_info .price {
          font-size: 36px; }
        [data-dpr="2.5"] .por_list li .pro_info .price {
          font-size: 45px; }
        [data-dpr="2.75"] .por_list li .pro_info .price {
          font-size: 50px; }
        [data-dpr="3"] .por_list li .pro_info .price {
          font-size: 54px; }
        [data-dpr="4"] .por_list li .pro_info .price {
          font-size: 72px; }
        .por_list li .pro_info .price:before {
          display: inline-block;
          margin-top: 0.0533333333rem;
          content: '￥';
          vertical-align: top;
          font-size: 11px;
          font-weight: normal; }
          [data-dpr="2"] .por_list li .pro_info .price:before {
            font-size: 22px; }
          [data-dpr="2.5"] .por_list li .pro_info .price:before {
            font-size: 28px; }
          [data-dpr="2.75"] .por_list li .pro_info .price:before {
            font-size: 30px; }
          [data-dpr="3"] .por_list li .pro_info .price:before {
            font-size: 33px; }
          [data-dpr="4"] .por_list li .pro_info .price:before {
            font-size: 44px; }
    .por_list li:last-child {
      margin-bottom: 0; }

/*iscroll*/
.scroll {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 1.3866666667rem;
  width: 100%; }
  .scroll #scroll_left {
    position: relative;
    /*important*/
    height: 100%;
    width: 2rem; }
    .scroll #scroll_left li {
      /* transform:translate3d(0,0,0); */
      text-align: center;
      width: 2rem;
      font-size: 14px;
      line-height: 1.1733333333rem;
      color: #2c3e50; }
      [data-dpr="2"] .scroll #scroll_left li {
        font-size: 28px; }
      [data-dpr="2.5"] .scroll #scroll_left li {
        font-size: 35px; }
      [data-dpr="2.75"] .scroll #scroll_left li {
        font-size: 39px; }
      [data-dpr="3"] .scroll #scroll_left li {
        font-size: 42px; }
      [data-dpr="4"] .scroll #scroll_left li {
        font-size: 56px; }
      .scroll #scroll_left li.on {
        line-height: 1.9733333333rem;
        background: #fff;
        color: #ff7200;
        border-left-color: #ff7200;
        border-left-style: solid;
        border-left-width: 2px; }
        [data-dpr="2"] .scroll #scroll_left li.on {
          border-left-width: 4px; }
        [data-dpr="2.5"] .scroll #scroll_left li.on {
          border-left-width: 5px; }
        [data-dpr="2.75"] .scroll #scroll_left li.on {
          border-left-width: 6px; }
        [data-dpr="3"] .scroll #scroll_left li.on {
          border-left-width: 6px; }
        [data-dpr="4"] .scroll #scroll_left li.on {
          border-left-width: 8px; }
  .scroll #scroll_right {
    position: relative;
    /*important*/
    height: 100%;
    background: #fff;
    padding: 0 0.2666666667rem 0 0; }
    .scroll #scroll_right li {
      /* transform:translate3d(0,0,0); */ }
      .scroll #scroll_right li:not(:first-child) {
        display: none; }
    .scroll #scroll_right a {
      float: left;
      display: block;
      padding: 0 0 0.2666666667rem 0.2666666667rem;
      width: 50%;
      height: 3.8666666667rem;
      position: relative;
      color: #ffffff; }
      .scroll #scroll_right a:nth-child(-n+2) {
        margin-top: 0.2666666667rem !important; }
      .scroll #scroll_right a .img_box {
        width: 3.6rem;
        height: 3.6rem;
        position: relative;
        border: none !important; }
        .scroll #scroll_right a .img_box img {
          border: none; }
      .scroll #scroll_right a .font {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0.3733333333rem;
        padding: 0 0.2666666667rem;
        line-height: 1;
        font-size: 15px; }
        [data-dpr="2"] .scroll #scroll_right a .font {
          font-size: 30px; }
        [data-dpr="2.5"] .scroll #scroll_right a .font {
          font-size: 38px; }
        [data-dpr="2.75"] .scroll #scroll_right a .font {
          font-size: 41px; }
        [data-dpr="3"] .scroll #scroll_right a .font {
          font-size: 45px; }
        [data-dpr="4"] .scroll #scroll_right a .font {
          font-size: 60px; }
        .scroll #scroll_right a .font h4 {
          padding-top: 0.0666666667rem;
          line-height: 1.2;
          font-size: 12px; }
          [data-dpr="2"] .scroll #scroll_right a .font h4 {
            font-size: 24px; }
          [data-dpr="2.5"] .scroll #scroll_right a .font h4 {
            font-size: 30px; }
          [data-dpr="2.75"] .scroll #scroll_right a .font h4 {
            font-size: 33px; }
          [data-dpr="3"] .scroll #scroll_right a .font h4 {
            font-size: 36px; }
          [data-dpr="4"] .scroll #scroll_right a .font h4 {
            font-size: 48px; }